ul li
{
	list-style-type:none; 
	font-size:50px;
	font-weight: bold;
	color:#069;
}


ul li::before
{
	/*coloca un elemento que indiquemos antes que el elemento seleccionado*/
	content: url(../imagenes/estrella.png);
}

ul li::after{
	content: url(../imagenes/estrella.png);
}

p::first-letter
{
	font-size: 36px;
	font-weight: bold;
	color:#ff0000;
}

p::first-line
{
	color:#f00;
	text-decoration: underline;
}